<h1>{{title}}</h1>

<div ng-class="{'row' : true, 'alert' : true, 'alert-success' : !toastError, 'alert-danger' : toastError}" style="margin : 10px; padding: 5px;"id="notification">
  <h5>Last result : <strong>{{toastText}}</strong></h5>
</div>

<div style="margin : 10px; padding: 5px;" class="row">
  <h3><i ng-if="!addMode" style='color:green' class="fa fa-plus fa-2x pointer" ng-click="addNewKase()"></i></h3>
</div>

<div ng-if="addMode" class="row" style="margin : 20px; padding: 5px; border : 2px solid; border-color: green; border-radius: 25px;">
  <div class="col-xs-10">
    <form class="form-horizontal">
      <div class="form-group form-group-sm" ng-repeat="(key, value) in mapping">
        <label class="col-sm-2 control-label">{{value.label}}</label>
        <div class="col-sm-10">
          <input ng-if="value.type=='line'" type="text" class="form-control" ng-model="newKase[key]">
          <textarea ng-if="value.type=='paragraph'" rows="2" class="form-control" ng-model="newKase[key]"/>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-1">
    <i class="fa fa-floppy-o fa-2x pointer" ng-click="saveNewKase(newKase)"></i>
    <div ng-if="!kase._edit"><br></div>
    <i class="fa fa-times fa-2x pointer" ng-click="cancelNewKase()"></i>
  </div>
</div>

<br>
<div class="row" style="margin : 20px; padding : 10px;">
  <div class="form-group form-group-sm">
    <div class="col-xs-3"></div>
    <label class="col-xs-2 control-label">Search by '{{searchField}}'</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="search[searchField]">
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

<div class="row" style="text-align: center;" ng-if="kases.length==0" style="margin : 20px; padding : 10px;">
  <b style="color:orange">No entries yet. Please create one from above (green + button)</b>
</div>

<div class="row" style="margin : 20px; padding : 10px; border : 1px solid; border-color: gray; border-radius: 25px;" ng-repeat="kase in kases| filter:search">
  
  <div class="col-xs-10">
    <form class="form-horizontal">
      <div class="form-group form-group-sm" ng-repeat="(key, value) in mapping" ng-if="(kase._edit || !value.hide)">
        <label class="col-sm-2 control-label">{{value.label}}</label>
        <div class="col-sm-10">
          <input ng-if="value.type=='line'" type="text" class="form-control" ng-model="kase[key]" ng-disabled="!kase._edit">
          <textarea ng-if="value.type=='paragraph'" rows="2" class="form-control" ng-model="kase[key]" ng-disabled="!kase._edit"/>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-1">
    <i ng-if="!kase._edit" class="fa fa-pencil-square-o fa-2x pointer" ng-click="editKase(kase)"></i>
    <div ng-if="!kase._edit"><br></div>
    <i ng-if="!kase._edit" style="color:red" class="fa fa-trash-o fa-2x del pointer" ng-click="deleteKase(kase)"><br></i>
    
    <i ng-if="kase._edit" class="fa fa-floppy-o fa-2x pointer" ng-click="saveKase(kase)"><br></i>
    <div ng-if="kase._edit"><br></div>
    <i ng-if="kase._edit" class="fa fa-times fa-2x pointer" ng-click="cancelKase(kase)"></i>
  </div>
  
</div>
