<h1>{{title}}</h1>

<div ng-if="headerMapping" class="row" style="margin : 20px; padding: 5px;">
  <div class="col-xs-10">
    <form class="form-horizontal">
      <div class="form-group form-group-sm" ng-repeat="(key, value) in headerMapping">
        <div class="col-xs-2"><h4>{{value.label}}</h4></div>
        <div class="col-xs-1"><h4>:</h4></div>
        <div class="col-xs-9">
          <h4>{{headerObject[key]}}</h4>
        </div>
      </div>
    </form>
  </div>
</div>

<div ng-class="{'row' : true, 'alert' : true, 'alert-success' : !toastError, 'alert-danger' : toastError}" style="margin : 10px; padding: 5px;"id="notification">
  <h5>Last result : <strong>{{toastText}}</strong></h5>
</div>

<div style="margin : 10px; padding: 5px;" class="row">
  <div class="col-xs-5"></div>
  <div class="col-xs-2">
    <h3><i ng-if="!addMode" style='color:green' class="fa fa-plus fa-2x pointer" ng-click="addNewKase()" data-toggle="tooltip" title="Create New"></i></h3>
  </div>
  <div class="col-xs-5"></div>
</div>

<div ng-if="addMode" class="row" style="margin : 20px; padding: 5px; border : 2px solid; border-color: green; border-radius: 25px;">
  <div class="col-xs-10">
    <form class="form-horizontal">
      <div class="form-group form-group-sm" ng-repeat="(key, value) in mapping">
        <label class="col-sm-2 control-label">{{value.label}}</label>
        <div class="col-sm-10">
          
          <!-- line type -->
          <input ng-if="value.type=='line'" type="text" class="form-control" ng-model="newKase[key]">
          
          <!-- paragraph type -->
          <textarea ng-if="value.type=='paragraph'" rows="2" class="form-control" ng-model="newKase[key]"/>
          
          <!-- items of array (line or paragraph)-->
          <div ng-if="value.type=='array-paragraph' || value.type=='array-line'" class="row" ng-repeat="res in newKase[key] track by $index">
            <div class="col-xs-8">
              <textarea ng-if="value.type=='array-paragraph'" rows="2" class="form-control" ng-model="$parent.newKase[key][$index]"/>
              <input ng-if="value.type=='array-line'" type="text" class="form-control" ng-model="$parent.newKase[key][$index]">
            </div>
            <div class="col-xs-4">
              <i class="fa fa-trash-o pointer" ng-click="removeFromArray(newKase[key], $index)" data-toggle="tooltip" title="Remove"></i>
            </div>
          </div>
          
          <!-- add new entry in array -->
          <div ng-if="value.type=='array-paragraph' || value.type=='array-line'" class="row">
            <div class="col-xs-8">
              <textarea rows="2" ng-if="value.type=='array-paragraph'" class="form-control" ng-model=
"$parent.newItem.content"/>
              <input ng-if="value.type=='array-line'" type="text" class="form-control" ng-model="$parent.newItem.content">
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-info btn-sm" ng-click="pushToArray(newKase[key], newItem)">Add</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-1">
    <i class="fa fa-floppy-o fa-2x pointer" ng-click="saveNewKase(newKase)" data-toggle="tooltip" title="Save"></i>
    <div ng-if="!kase._edit"><br></div>
    <i class="fa fa-times fa-2x pointer" ng-click="cancelNewKase()" data-toggle="tooltip" title="Cancel"></i>
  </div>
</div>

<br>

<!-- SEARCH FIELD -->
<div class="row" style="margin : 20px; padding : 10px;">
  <div class="form-group form-group-sm">
    <div class="col-xs-3"></div>
    <label class="col-xs-2 control-label">Search by '{{searchField}}'</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" ng-model="search[searchField]">
    </div>
    <div class="col-xs-3"></div>
  </div>
</div>

<div class="row" style="text-align: center;" ng-if="kases.length==0" style="margin : 20px; padding : 10px;">
  <b style="color:orange">No entries yet. Please create one from above (green + button)</b>
</div>

<div class="row" style="margin : 20px; padding : 10px; border : 1px solid; border-color: gray; border-radius: 25px;" ng-repeat="kase in kases| filter:search">
  <div class="col-xs-1">
    <span>{{$index+1}}</span>  
  </div>
  <div class="col-xs-9">
    <form class="form-horizontal">
      <div class="form-group form-group-sm" ng-repeat="(key, value) in mapping" ng-if="(kase._edit || !value.hide)">
        <label class="col-sm-2 control-label">{{value.label}}</label>
        <div class="col-sm-10">
          <!-- line type -->
          <input ng-if="value.type=='line'" type="text" class="form-control" ng-model="kase[key]" ng-disabled="!kase._edit">
          
          <!-- paragraph type -->
          <textarea ng-if="value.type=='paragraph'" rows="2" class="form-control" ng-model="kase[key]" ng-disabled="!kase._edit"/>
          
          <!-- items of array -->
          <div ng-if="value.type=='array-paragraph' || value.type=='array-line'" class="row" ng-repeat="res in kase[key] track by $index">
            <div class="col-xs-8">
              <textarea ng-if="value.type=='array-paragraph'" rows="2" class="form-control" ng-model="$parent.kase[key][$index]" ng-disabled="!kase._edit"/>
              <input ng-if="value.type=='array-line'" type="text" class="form-control" ng-model="$parent.kase[key][$index]" ng-disabled="!kase._edit">
              
            </div>
            <div class="col-xs-4" ng-if="kase._edit">
              <i class="fa fa-trash-o pointer" ng-click="removeFromArray(kase[key], $index)" data-toggle="tooltip" title="Remove"></i>
            </div>
          </div>

          <!-- add new entry in array -->
          <div ng-if="(value.type=='array-paragraph'  || value.type=='array-line') && kase._edit" class="row">
            <div class="col-xs-8">
              <textarea ng-if="value.type=='array-paragraph'" rows="2" class="form-control" ng-model="$parent.newItem.content"/>
              <input ng-if="value.type=='array-line'" type="text" class="form-control" ng-model="$parent.newItem.content">
              
            </div>
            <div class="col-xs-4">
              <button type="button" class="btn btn-info btn-sm" ng-click="pushToArray(kase[key], newItem)">Add</button>
            </div>
          </div>
          
        </div>
        
      </div>
      <div class="form-group form-group-sm" ng-if="externalLinkKey">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
          <a ng-href="{{externalLinkBase}}{{kase[externalLinkKey]}}"><b>{{externalLinkLabel}}</b></a>
        </div>
        <div class="col-xs-4"></div>
      </div>
    </form>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-1">
    <i ng-if="!kase._edit" class="fa fa-pencil-square-o fa-2x pointer" ng-click="editKase(kase)" data-toggle="tooltip" title="Edit"></i>
    <div ng-if="!kase._edit"><br></div>
    <i ng-if="!kase._edit" style="color:red" class="fa fa-trash-o fa-2x del pointer" ng-click="deleteKase(kase)" data-toggle="tooltip" title="Delete"></i>
    
    <i ng-if="kase._edit" class="fa fa-floppy-o fa-2x pointer" ng-click="saveKase(kase)" data-toggle="tooltip" title="Save"><br></i>
    <div ng-if="kase._edit"><br></div>
    <i ng-if="kase._edit" class="fa fa-times fa-2x pointer" ng-click="cancelKase(kase)" data-toggle="tooltip" title="Cancel"></i>
  </div>
  
</div>
